#Nadpis {
    color: white;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    padding-top: 12%;
}

#Text {
    color: white;
    font-size: 2vw;
    text-align: center;
    padding-top: 15px;
}

.card-img-overlay {
    width: auto;
}

.active-page {
    background-color: #007bff; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
}
