.riadok_1 {
    padding-top: 2%;
    align-content: center;
}

.stlpec1 {
    padding-left: 5%;
}

.stlpec2 {
padding-left: 7%;
}

.nazov_bicykla {
    padding-top: 1%;
    font-weight: bolder;
    font-size: 2vw;
}

.zvysok {
    font-size: 2vw;
    margin-bottom: 5px;
}

#stlpec_2_riadok_2 {
    padding-top: 3%;
}

#mnozstvo {
    text-align: left;
    margin-right: 0px;
    .btn-primary {
        background-color: black;
        color: white;
        border-color: black
    }
}

#pridat_do_kosika {
    text-align: left;
    .btn-primary {
        background-color: black;
        border-width: 1px;
        color: white;
        font-weight: bold;
        border-color: black
    }
}

.card {
    border-color: white;
}

#popis_produktu {
    margin-left: 12%;
    margin-bottom: 3%;
    color: black;
    font-size: 2vw;
    font-weight: 600;

}

.cast {
    text-align: right;
    font-size: 17px;
}

.hodnota {
    text-align: left;
    font-size: 17px;
}








@media only screen and (max-width: 576px) {
    .riadok_1 {
        padding-top: 2%;
        align-content: center;
    }
    
    .nazov_bicykla {
        padding-top: 5%;
        font-weight: bolder;
        font-size: 5vw;
        text-align: center;
        
    }
    
    .zvysok {
        text-align: center;
        font-size: 5vw;
    }
    
    #mnozstvo {
        text-align: center;
        .input-group {
            display: inline-block;
            .col-4 {
                display: inline-block;
            }
    
        }
    }
    
    #pridat_do_kosika {
        text-align: center;
        .btn-primary {
            display: block;
            margin: 0 auto;
        }
    }
    
    .card {
        border-color: white;
    }
    
    #popis_produktu {
        margin-left: 11%;
        margin-bottom: 3%;
        color: black;
        font-size: 4vw;
        font-weight: 600;
    
    }
    
    .cast {
        text-align: right;
        font-size: 15px;
    }
    
    .hodnota {
        text-align: left;
        font-size: 15px;
    }
}