#Nadpis {
    color: white;
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    padding-top: 12%;
}

#Text {
    color: white;
    font-size: 2vw;
    text-align: center;
    padding-top: 20px;
}

.card-img-overlay {
    width: auto;
}

